/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@charset 'utf-8';
@import "compass/reset";

@import "compass/css3";

@import 'components/tips.css';
@import 'components/editor.css';

$width: 100%;
$height: 100%;
$blur: 20px;

@mixin setScale($width: 100%, $height: 100%) {
	width: $width;
	height: $height;
}
@mixin setTextOverflow($textOF: ellipsis) {
	text-overflow: $textOF;
	-webkit-text-overflow: $textOF;
	-moz-text-overflow: $textOF;
	-o-text-overflow: $textOF;
	-ms-text-overflow: $textOF;
}

html, body, .view-init, .blog-index {
	font-family: 'Segoe Print';
	font-family: 'Microsoft YaHei';
	color: white;
	@include setScale;
}
body {
	// @include background(radial-gradient(45px 45px, cyan 10px, transparent 30px));
}
a {
	text-decoration: none;
	color: white;
}
b {
	font-weight: bold;
}
i {
	font-style: italic;
}

#cas {
	position: absolute;
	@include setScale;
	// background: black;
	// @include background-image(radial-gradient(10% 10%, #ffffff 300px, #111 900px));
}

@mixin keyframes-compat($name) {
	@keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
}
@mixin transform-origin-compat($value) {
	transform-origin: $value;
	-webkit-transform-origin: $value;
	-moz-transform-origin: $value;
	-o-transform-origin: $value;
	-ms-transform-origin: $value;
}

.blur {
	position: absolute;

	@include setScale;
	@include background(url('../images/background.jpg') no-repeat left bottom/100% 100%);
	@include filter(blur($blur));
	@include animation(removeFilter 3s 4);
	@at-root {
		@keyframes removeFilter {
			@for $i from 1 through 20 {
				#{$i}% {
					$blur: (20-$i);
					@include filter(blur($blur));
				} 
			}
		}
	}

}

@mixin swing {
	@for $i from 0 through 10 {
		#{$i * 10}% {
			@include opacity($i * 0.1);
			@if $i % 2 == 0 {
				$deg: $i - 10;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}@else {
				$deg: 10 - $i;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}
		}
	}
}

.brand {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 326.656px;
	max-height: 290.328px;
	
	@include setScale(40%, 20%);
	@include transform-origin-compat(0% -50%);
	@include background(url('../images/name.png') no-repeat left bottom/100% 100%);
	@include transform(perspective(250px) translate(-50%, -50%));
	@include opacity(1);
	@include transition(transform 1s);
	@include animation(showBrand 5s);
	@at-root {
		@include keyframes-compat(showBrand) {
			@include swing;
		}
	}

	&:active {
		@include transform(perspective(250px) rotateX(-60deg) translate(-50%, -50%));
	}
}

/* logo mixin */
@mixin side($background, $before, $after) {
	display: inline-block;
	background: $background;
	text-align: center;

	@include setScale(50%, 50%);
	@include transform(translate(0%, 50%));
	&:before, &:after {
		font-size: 14px;
		content: "";
		display: block;
		position: absolute;
		left: 50%;

		@include setScale(25%, 80%);
	}

	&:before {
		z-index: 1;

		@include transform(skew(5deg) translate(-75%, 0%));
		@include background($before);
	}

	&:after {
		z-index: 2;
		@include background-image(linear-gradient(to left, $before 10%, $after 30%, $before));
		@include transform(skew(-5deg) translate(-25%, 0%));
	}

	.bottom {
		position: absolute;
		border-top: 3vw solid $before;
		border-left: 8vw solid transparent;
		border-right: 8vw solid transparent;
		left: 50%;
		bottom: 8%;

		@include setScale(0, 0);
		@include transform(translate(-50%, 0));
	}
}

#mongolia {
	position: absolute;
	z-index: 10;

	@include setScale;
	@include transition(opacity 5s ease-out 4s);
	@include filter(blur(10px));
}

.hide {
	
	@include opacity(0);
}

/* loading animation */
@mixin old-load {
	@for $i from 0 through 10 {
		$r: #{$i * 10}px;
		$rp: #{$i * 11}px;
		#{$i * 10}% {
			@include background-image(radial-gradient(45px 45px, cyan $r, black $rp));
		} 
	}
}

@mixin load {
	 0% {
        @include transform(rotate(30deg) translate(-50%, -50%));
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }

    5%,95% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }

    10%,59% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.087em -0.825em 0 -0.42em #fff,-0.173em -0.812em 0 -0.44em #fff,-0.256em -0.789em 0 -0.46em #fff,-0.297em -0.775em 0 -0.477em #fff);
    }

    20% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.338em -0.758em 0 -0.42em #fff,-0.555em -0.617em 0 -0.44em #fff,-0.671em -0.488em 0 -0.46em #fff,-0.749em -0.34em 0 -0.477em #fff);
    }

    38% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.377em -0.74em 0 -0.42em #fff,-0.645em -0.522em 0 -0.44em #fff,-0.775em -0.297em 0 -0.46em #fff,-0.82em -0.09em 0 -0.477em #fff);
    }

    100% {
        @include transform(rotate(360deg) translate(-50%, -50%));
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }
}
@mixin welcome-letter {
	0% {
		@include opacity(0);
	}
	10% {
		@include opacity(1);
	}
	100% {
		@include opacity(0);
	}
}
@mixin vanish {
	0% {
		@include opacity(1);
	}
	50% {
		@include opacity(0);
		height: 100%;
	}
	100% {
		@include opacity(0);
		height: 0;
	}
}

.loading {
	display: none;
	position: fixed;
	text-align: center;
	z-index: 11;

	@include setScale;
	@include background(#20D4FF);
	@include animation(disappear 1s linear 18s forwards);

	at-root {
		@include keyframes-compat(disappear) {
			@include vanish;
		}
	}

	.before {
		font-size: 5em;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		background: transparent;
		color: white;
		
		@include setScale(1em, 1em);
		@include transform-origin-compat(0% 0%);
		@include transform(rotate(0deg) translate(-50%, -50%));
		@include border-radius(1em);

		@include animation(loader 1.5s ease-out 5);

		
	}

	p {
		display: table-cell;
		vertical-align: middle;
		color: white;
		font-size: 3em;
		font-family: 'Segoe Print';
		
		@include opacity(0);
		@include animation(welcome 10s linear 7.5s);
	}

	@at-root {
		@include keyframes-compat(welcome) {
			@include welcome-letter;
		}
	}

	@at-root {
		@include keyframes-compat(loader) {
			@include load;
		}
	}
}

@mixin background-image-compat($selector, $image) {
	@media (min-device-width: 601px) {
		#{$selector} {
			background: url('../images/pc_#{$image}') no-repeat;
		}
	}
	@media (max-device-width: 600px) {
		#{$selector} {
			background: url('../images/#{$image}') no-repeat;
		}
	}
}

@mixin show {
	from {
		@include opacity(0);
	}
	to {
		@include opacity(1);
	}
}

@mixin twinkle {
	from {
		@include box-shadow(0 0 15px 0px white);
	}
	to {
		@include box-shadow(0 0 15px 5px white);
	}
}

@mixin writing-mode($value: horizontal-tb) {
	writing-mode: $value;
	-webkit-writing-mode: $value;
}

.windows {
	@include setScale;
	@include background(linear-gradient(to bottom left, #011E3E, #85D4FF));
	//@include animation(appear 2s linear 18s);

	@at-root {
		@include keyframes-compat(appear) {
			@include show;
		}
	}

	.menubar {
		display: block;
		position: fixed;
		bottom: 0;

		@include setScale(100%, 5%);
		@include background(rgba(0, 5, 10, 0.7));

		ul.menu {
			@include setScale;

			li.menu-list {
				float: left;
				height: $height;
				padding: 0 2%;
				position: relative;

				img {
					height: $height;
					position: relative;
					z-index: 9;
					cursor: pointer;

					&:hover {
						@include box-shadow(0px 0px 13px 2px linen);
						@include border-radius(2em);
					}
				}
				ul.submenu-start {
					width: 200%;
					position: absolute;
					left: 0;
					top: 0;
					cursor:pointer;
					z-index: 1;

					@include background(rgba(250, 250, 250, 0.2));
					@include transform(translate(0%, -100%));
					@include border-radius(5px 5px 0 0);
					@include box-shadow(0px 0px 2px #ccc inset);

					li.submenu-start-list {
						text-align: center;
						height: 100px;
						line-height: 100px;
						color: rgba(255, 255, 255, 0.7);

						@include transition(background 0.5s ease-out, color 0.5s ease-out);

						&:hover {
							color: white;

							@include background(rgba(133, 255, 187, 0.4));
						}
					}
				}

				&:last-child {
					float: right;
				}
			}
		}

	}

	.desktop {
		@include setScale(98%, 95%);

		dl {
			display: inline-block;
			margin: 3.9% 20px;
			@include writing-mode;

			dt {
				text-align: center;
			}
			dd {
				text-align: center;
			}

			&:hover {
				@include background(rgba(250, 250, 250, 0.4));
			} 
		}

		.music-box {
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 400px;
			max-height: 300px;
			// margin: -150px 0 0 -200px;
			cursor: default; 

			@include writing-mode;
			@include setScale(80%, 35%);
			@include transform(translate(-50%, -50%));
			@include background(linear-gradient(to bottom left, rgba(84, 78, 224, 0.4), rgba(195,195,195,0.4)));
			@include border-radius(1px);
			@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);

			.banner {
				position: relative;
				z-index: 1;

				@include setScale(100%, 64%);
				@include background(#e9e8e8);

				img {
					@include setScale(100%, 100%);
				}

				.timestamps {
					position: absolute;
					left: 0;
					top: 0;
					padding-top: 24%;
					text-align: center;

					@include transition(opacity 0.5s ease-in-out);
					@include background(black);
					@include opacity(0);
					@include setScale(100%, 50%);

					&:hover {
						@include opacity(0.4);
					}
				}

				.components {
					position: absolute;
					right: 0;
					top: 0;
					padding: 5px;
				}
			}

			.progress {
				position: relative;
				z-index: 2;
				padding-left: 15px;
				cursor: pointer;

				@include setScale(0%, 5%);
				@include background(linear-gradient(to bottom, #70B0E6, transparent));
				@include border-radius(1em);

				&:after {
					content: '';
					float: right;

					@include setScale(15px, 100%);
					@include background(white);
					@include border-radius(1em);
					@include animation(twinkle 1s ease-in infinite alternate);

					@at-root {
						@include keyframes-compat(twinkle) {
							@include twinkle;
						} 
					}
				}
			}

			.buttons {
				text-align: center; 
				line-height: 7;
				cursor: default;

				@include setScale(100%, 31%);

				a {
					display: inline-block;
					background: url('../images/music_buttons.png') no-repeat;
					cursor: pointer;

					@include transition(background-position 0.5s cubic-bezier(0.215, 0.61, 0.355, 1));

					&.prev {
					    @include setScale(29px, 26px);
					    background-position: -4px 0px;
					}
					&.play {
					    @include setScale(30px, 30px);
					    background-position: -37px 0px;

					    &.pause {
					    	background-position: -70px 0px;
					    }
					}
					&.next {
					    @include setScale(30px, 26px);
					    background-position: -99px 0px;
					}
				}

				.auto {
					position: absolute;
					right: 0;
					bottom: 0;
					border: none;
					outline: none;
					color: white;

					@include setScale(50px, 20px);
					@include transition(color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1));
					@include background(transparent);

					&:hover {
						color: #85F8FF;
					}

					&.active {
						color: #85FF8A;
					}
				}
			}
		}

		.article {
			max-width: 683px;
			position: absolute;
			left: 50%;
			top: 50%;
			color: #E6E6E6;

			@include setScale(65%, 80%);
			@include backface-visibility(hidden);
			@include writing-mode;
			@include background(rgba(255, 255, 255, 0.3));
			@include transform(translate(-50%, -50%));

			.title, .util {
				line-height: 30px;
				text-align: center;
				border-bottom: 1px dashed #ccc;

				@include setScale(100%, 30px);

				i, button {
					display: inline-block;
					cursor: pointer;
					border: none;
					outline: none;

					@include setScale(14px, 14px);
					@include background(url('../images/icons.png') no-repeat left bottom);
				}
			}

			.title {
				i {
					float: right;
					font-style: normal;

					&.close {
						background-position: -312px 0;
					}

					&.minimize {
						background-position: -433px -96px;
					}
				}
			}

			.util {
				text-align: left;
				padding-left: 2%;

				@include setScale(98%, 30px);

				input.image-file {
					display: none;
				}

				button {
					margin: 0 1%;

					&:before {
						@include transform(translate(-5px, -260%)); 
					}

					&:after {
						color: #FFFFFF;
						padding: 5px;
						margin: 0;

						@include transform(translate(-50%, -150%));
					}

					&.new {
						background-position: -408px -96px;
					}

					&.save {
						background-position: -24px -24px;
					}

					&.image {
						background-position: -456px -48px;
					}

					&.bold {
						background-position: -167px -48px;
					}

					&.italic {
						background-position: -192px -48px;
					}
				}
			}

			.main {
				overflow: hidden;
				padding: 2% 0 2% 2%;

				@include setScale(98%, 86%);

				& *::-webkit-scrollbar {
					@include setScale(5px);
					@include background(linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)));
				}
				 
				& *::-webkit-scrollbar-thumb
				{
				    @include border-radius(10px);
				    @include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.3));
				    @include background(linear-gradient(to top left, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.8)));
				}

				.side-bar {
					float: left;

					@include setScale(20%, 100%);
					@include transition(width 0.3s ease-out, opacity 0.3s ease-out);

					&:hover + .scale {
						@include opacity(0.5);
					}

					.sub-title {
						cursor: pointer;
						border-bottom: 1px solid #ccc;
					    padding: 5% 0;
					    margin-bottom: 6%;
					    position: relative;

					    @include transition(background 0.3s cubic-bezier(0, -0.37, 0.88, 0.5));

					    &:hover {
					    	color: white;
					    	border: none;

					    	@include background(#333333);
					    }

					}
				}

				.scale {
					float: left;
					position: relative;
					padding: 49% 0px;
					font-size: 0.5em;
					text-align: center;

					@include setScale(2%, 18px);
					@include opacity(0);

					&:hover {
						@include opacity(0.5);
					}

					.toggle {
						content: '';
						cursor: pointer;
						position: absolute;
						z-index: 3;
						left: 0;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-right: 10px solid #333;
					}

				}

				.switch {
					display: none;

					&:checked ~ .side-bar{
						@include setScale(0);
						@include opacity(0);
					}
					&:checked ~ .scale .toggle {
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 10px solid #333;
						border-right: none;
					}
					&:checked ~ .content {
						@include setScale(98%, 100%);
					}
				}

				.content {
					float: right;
					overflow: auto;
					cursor: text;

					@include setScale(78%, 100%);
					@include transition(width 0.3s ease-out);

					img {
						width: 100px;
					}
				}
			}

			.foot {
				font-size: 0.5em;
				border-top: 1px dashed #ccc;

				ul {
					@include setScale(100%, 100%);
					li {
						white-space: nowrap;
						overflow: hidden;

						@include setScale(40%);
						@include setTextOverflow(ellipsis);
						@include text-shadow(0 0 5px white);
					}
				}
			}
		}

	}

	@media screen and (min-width: 960px) {
		.desktop {
			@include writing-mode(vertical-lr);
		}
	}
	@media (max-width: 959px) {
		.desktop {
			text-align: center;
		}
	}
}



