/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3";

$width: 100%;
$height: 100%;
$blur: 20px;

html, body {
	width: $width;
	height: $height;
}
body {
	// @include background(radial-gradient(45px 45px, cyan 10px, transparent 30px));
}

#cas {
	position: absolute;
	width: $width;
	height: $height;
	// background: black;
	// @include background-image(radial-gradient(10% 10%, #ffffff 300px, #111 900px));
}

.blur {
	width: $width;
	height: $height;
	position: absolute;
	@include background(url('../images/background.jpg') no-repeat left bottom/100% 100%);
	@include filter(blur($blur));

	@include animation(removeFilter 3s 4);
	@at-root {
		@keyframes removeFilter {
			@for $i from 1 through 20 {
				#{$i}% {
					$blur: (20-$i);
					@include filter(blur($blur));
				} 
			}
		}
	}

}

@mixin swing {
	@for $i from 0 through 10 {
		#{$i * 10}% {
			@include opacity($i * 0.1);
			@if $i % 2 == 0 {
				$deg: $i - 10;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}@else {
				$deg: 10 - $i;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}
		}
	}
}

.brand {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 326.656px;
	max-height: 290.328px;
	width: $width * 0.4;
	height: $height * 0.2;
	transform-origin: 0% -50%;
	-ms-transform-origin: 0% -50%;
	-webkit-transform-origin: 0% -50%;
	-moz-transform-origin: 0% -50%;
	-o-transform-origin: 0% -50%;

	@include background(url('../images/name.png') no-repeat left bottom/100% 100%);
	@include transform(translate(-50%, -50%));

	@include opacity(1);
	@include transition(transform 1s);

	@include animation(showBrand 5s);
	@at-root {
		@keyframes showBrand {
			@include swing;
		}
		@-webkit-keyframes showBrand {
			@include swing;
		}
		@-moz-keyframes showBrand {
			@include swing;
		}
		@-o-keyframes showBrand {
			@include swing;
		}
	}

	&:active {
		@include transform(rotateX(-60deg) translate(-50%, -50%));
	}
}

/*logo mixin*/
@mixin side($background, $before, $after) {
	display: inline-block;
	width: $width * 0.5;
	height: $height * 0.5;
	background: $background;
	text-align: center;

	@include transform(translate(0%, 50%));
	&:before, &:after {
		font-size: 14px;
		content: "";
		display: block;
		position: absolute;
		width: $width * 0.25;
		height: $height * 0.8;
		left: 50%;
	}

	&:before {
		z-index: 1;
		@include transform(skew(5deg) translate(-75%, 0%));
		@include background($before);
	}

	&:after {
		z-index: 2;
		@include background-image(linear-gradient(to left, $before 10%, $after 30%, $before));
		@include transform(skew(-5deg) translate(-25%, 0%));
	}

	.bottom {
		position: absolute;
		width: 0;
		height: 0;
		border-top: 3vw solid $before;
		border-left: 8vw solid transparent;
		border-right: 8vw solid transparent;
		left: 50%;
		bottom: 8%;

		@include transform(translate(-50%, 0));
	}
}

#mongolia {
	position: absolute;
	width: $width;
	height: $height;
	z-index: 10;
}

header {
	position: relative;
	z-index: 1;
	height: $height;
	font-size: 0;
	.left-side {
		
	}

	.right-side {

	}

}

