/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3";

$width: 100%;
$height: 100%;
$blur: 20px;

html, body, .view-init, .blog-index {
	font-family: 'Segoe Print';
	color: white;
	width: $width;
	height: $height;
}
body {
	// @include background(radial-gradient(45px 45px, cyan 10px, transparent 30px));
}
a {
	text-decoration: none;
	color: white;
}

#cas {
	position: absolute;
	width: $width;
	height: $height;
	// background: black;
	// @include background-image(radial-gradient(10% 10%, #ffffff 300px, #111 900px));
}

@mixin prefix($selector) {
	#{$selector} {
		@content;
	}
	-webkit-#{$selector} {
		@content;
	}
	-moz-#{$selector} {
		@content;
	}
	-o-#{$selector} {
		@content;
	}
	-ms-#{selector} {
		@content;
	}
}

@mixin keyframes-compat($name) {
	@keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
}
@mixin transform-origin-compat($value) {
	transform-origin: $value;
	-webkit-transform-origin: $value;
	-moz-transform-origin: $value;
	-o-transform-origin: $value;
	-ms-transform-origin: $value;
}

.blur {
	width: $width;
	height: $height;
	position: absolute;
	@include background(url('../images/background.jpg') no-repeat left bottom/100% 100%);
	@include filter(blur($blur));

	@include animation(removeFilter 3s 4);
	@at-root {
		@keyframes removeFilter {
			@for $i from 1 through 20 {
				#{$i}% {
					$blur: (20-$i);
					@include filter(blur($blur));
				} 
			}
		}
	}

}

@mixin swing {
	@for $i from 0 through 10 {
		#{$i * 10}% {
			@include opacity($i * 0.1);
			@if $i % 2 == 0 {
				$deg: $i - 10;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}@else {
				$deg: 10 - $i;
				@include transform(rotate(#{$deg}deg) translate(-50%, -50%));
			}
		}
	}
}

.brand {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 326.656px;
	max-height: 290.328px;
	width: $width * 0.4;
	height: $height * 0.2;
	
	@include transform-origin-compat(0% -50%);

	@include background(url('../images/name.png') no-repeat left bottom/100% 100%);
	@include transform(translate(-50%, -50%));

	@include opacity(1);
	@include transition(transform 1s);

	@include animation(showBrand 5s);
	@at-root {
		@include keyframes-compat(showBrand) {
			@include swing;
		}
	}

	&:active {
		@include transform(rotateX(-60deg) translate(-50%, -50%));
	}
}

/* logo mixin */
@mixin side($background, $before, $after) {
	display: inline-block;
	width: $width * 0.5;
	height: $height * 0.5;
	background: $background;
	text-align: center;

	@include transform(translate(0%, 50%));
	&:before, &:after {
		font-size: 14px;
		content: "";
		display: block;
		position: absolute;
		width: $width * 0.25;
		height: $height * 0.8;
		left: 50%;
	}

	&:before {
		z-index: 1;
		@include transform(skew(5deg) translate(-75%, 0%));
		@include background($before);
	}

	&:after {
		z-index: 2;
		@include background-image(linear-gradient(to left, $before 10%, $after 30%, $before));
		@include transform(skew(-5deg) translate(-25%, 0%));
	}

	.bottom {
		position: absolute;
		width: 0;
		height: 0;
		border-top: 3vw solid $before;
		border-left: 8vw solid transparent;
		border-right: 8vw solid transparent;
		left: 50%;
		bottom: 8%;

		@include transform(translate(-50%, 0));
	}
}

#mongolia {
	position: absolute;
	width: $width;
	height: $height;
	z-index: 10;

	@include transition(opacity 5s ease-out 4s);
	@include filter(blur(10px));
}

.hide {
	
	@include opacity(0);
}

/* loading animation */
@mixin old-load {
	@for $i from 0 through 10 {
		$r: #{$i * 10}px;
		$rp: #{$i * 11}px;
		#{$i * 10}% {
			@include background-image(radial-gradient(45px 45px, cyan $r, black $rp));
		} 
	}
}

@mixin load {
	 0% {
        @include transform(rotate(30deg) translate(-50%, -50%));
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }

    5%,95% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }

    10%,59% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.087em -0.825em 0 -0.42em #fff,-0.173em -0.812em 0 -0.44em #fff,-0.256em -0.789em 0 -0.46em #fff,-0.297em -0.775em 0 -0.477em #fff);
    }

    20% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.338em -0.758em 0 -0.42em #fff,-0.555em -0.617em 0 -0.44em #fff,-0.671em -0.488em 0 -0.46em #fff,-0.749em -0.34em 0 -0.477em #fff);
    }

    38% {
        @include box-shadow(0 -0.83em 0 -0.4em #fff,-0.377em -0.74em 0 -0.42em #fff,-0.645em -0.522em 0 -0.44em #fff,-0.775em -0.297em 0 -0.46em #fff,-0.82em -0.09em 0 -0.477em #fff);
    }

    100% {
        @include transform(rotate(360deg) translate(-50%, -50%));
        @include box-shadow(0 -0.83em 0 -0.4em #fff,0 -0.83em 0 -0.42em #fff,0 -0.83em 0 -0.44em #fff,0 -0.83em 0 -0.46em #fff,0 -0.83em 0 -0.477em #fff);
    }
}
@mixin welcome-letter {
	0% {
		@include opacity(0);
	}
	10% {
		@include opacity(1);
	}
	100% {
		@include opacity(0);
	}
}
@mixin vanish {
	0% {
		@include opacity(1);
	}
	50% {
		@include opacity(0);
		height: 100%;
	}
	100% {
		@include opacity(0);
		height: 0;
	}
}

.loading {
	display: none;
	position: fixed;
	width: $width;
	height: $height;
	text-align: center;
	z-index: 11;

	@include background(#20D4FF);
	@include animation(disappear 1s linear 18s forwards);

	at-root {
		@include keyframes-compat(disappear) {
			@include vanish;
		}
	}

	.before {
		font-size: 5em;
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 1em;
		height: 1em;
		background: transparent;
		color: white;
		
		@include transform-origin-compat(0% 0%);
		@include transform(rotate(0deg) translate(-50%, -50%));
		@include border-radius(1em);

		@include animation(loader 1.5s ease-out 5);

		
	}

	p {
		display: table-cell;
		vertical-align: middle;
		color: white;
		font-size: 3em;
		font-family: 'Segoe Print';
		
		@include opacity(0);
		@include animation(welcome 10s linear 7.5s);
	}

	@at-root {
		@include keyframes-compat(welcome) {
			@include welcome-letter;
		}
	}

	@at-root {
		@include keyframes-compat(loader) {
			@include load;
		}
	}
}

@mixin background-image-compat($selector, $image) {
	@media (min-device-width: 601px) {
		#{$selector} {
			background: url('../images/pc_#{$image}') no-repeat;
		}
	}
	@media (max-device-width: 600px) {
		#{$selector} {
			background: url('../images/#{$image}') no-repeat;
		}
	}
}

@mixin show {
	from {
		@include opacity(0);
	}
	to {
		@include opacity(1);
	}
}

.windows {
	width: $width;
	height: $height;

	@include background(linear-gradient(to bottom left, #011E3E, #85D4FF));
	//@include animation(appear 2s linear 18s);

	@at-root {
		@include keyframes-compat(appear) {
			@include show;
		}
	}

	.menubar {
		display: block;
		width: 100%;
		height: 5%;
		position: fixed;
		bottom: 0;

		@include background(rgba(0, 5, 10, 0.7));

		ul {
			width: $width;
			height: $height;

			li {
				float: left;
				height: $height;
				padding: 0 2%;
				cursor: pointer;

				img {
					height: $height;
				}

				&:last-child {
					float: right;
				}
				&:hover img {
					@include box-shadow(0px 0px 13px 2px linen);
					@include border-radius(2em);
				}
			}
		}

	}
}





