/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/screen.scss */
#cas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 29, ../sass/screen.scss */
.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/background.jpg") no-repeat left bottom/100% 100%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -moz-animation: removeFilter 3s 4;
  -webkit-animation: removeFilter 3s 4;
  animation: removeFilter 3s 4;
}
@keyframes removeFilter {
  1% {
    -webkit-filter: blur(19);
    filter: blur(19);
  }
  2% {
    -webkit-filter: blur(18);
    filter: blur(18);
  }
  3% {
    -webkit-filter: blur(17);
    filter: blur(17);
  }
  4% {
    -webkit-filter: blur(16);
    filter: blur(16);
  }
  5% {
    -webkit-filter: blur(15);
    filter: blur(15);
  }
  6% {
    -webkit-filter: blur(14);
    filter: blur(14);
  }
  7% {
    -webkit-filter: blur(13);
    filter: blur(13);
  }
  8% {
    -webkit-filter: blur(12);
    filter: blur(12);
  }
  9% {
    -webkit-filter: blur(11);
    filter: blur(11);
  }
  10% {
    -webkit-filter: blur(10);
    filter: blur(10);
  }
  11% {
    -webkit-filter: blur(9);
    filter: blur(9);
  }
  12% {
    -webkit-filter: blur(8);
    filter: blur(8);
  }
  13% {
    -webkit-filter: blur(7);
    filter: blur(7);
  }
  14% {
    -webkit-filter: blur(6);
    filter: blur(6);
  }
  15% {
    -webkit-filter: blur(5);
    filter: blur(5);
  }
  16% {
    -webkit-filter: blur(4);
    filter: blur(4);
  }
  17% {
    -webkit-filter: blur(3);
    filter: blur(3);
  }
  18% {
    -webkit-filter: blur(2);
    filter: blur(2);
  }
  19% {
    -webkit-filter: blur(1);
    filter: blur(1);
  }
  20% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
