/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, d:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/screen.scss */
html, body, .view-init, .blog-index {
  font-family: 'Segoe Print';
  color: white;
  width: 100%;
  height: 100%;
}

/* line 27, ../sass/screen.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 32, ../sass/screen.scss */
#cas {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 64, ../sass/screen.scss */
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg") no-repeat left bottom/100% 100%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  -moz-animation: removeFilter 3s 4;
  -webkit-animation: removeFilter 3s 4;
  animation: removeFilter 3s 4;
}
@keyframes removeFilter {
  1% {
    -webkit-filter: blur(19);
    filter: blur(19);
  }
  2% {
    -webkit-filter: blur(18);
    filter: blur(18);
  }
  3% {
    -webkit-filter: blur(17);
    filter: blur(17);
  }
  4% {
    -webkit-filter: blur(16);
    filter: blur(16);
  }
  5% {
    -webkit-filter: blur(15);
    filter: blur(15);
  }
  6% {
    -webkit-filter: blur(14);
    filter: blur(14);
  }
  7% {
    -webkit-filter: blur(13);
    filter: blur(13);
  }
  8% {
    -webkit-filter: blur(12);
    filter: blur(12);
  }
  9% {
    -webkit-filter: blur(11);
    filter: blur(11);
  }
  10% {
    -webkit-filter: blur(10);
    filter: blur(10);
  }
  11% {
    -webkit-filter: blur(9);
    filter: blur(9);
  }
  12% {
    -webkit-filter: blur(8);
    filter: blur(8);
  }
  13% {
    -webkit-filter: blur(7);
    filter: blur(7);
  }
  14% {
    -webkit-filter: blur(6);
    filter: blur(6);
  }
  15% {
    -webkit-filter: blur(5);
    filter: blur(5);
  }
  16% {
    -webkit-filter: blur(4);
    filter: blur(4);
  }
  17% {
    -webkit-filter: blur(3);
    filter: blur(3);
  }
  18% {
    -webkit-filter: blur(2);
    filter: blur(2);
  }
  19% {
    -webkit-filter: blur(1);
    filter: blur(1);
  }
  20% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
/* line 99, ../sass/screen.scss */
.brand {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 326.656px;
  max-height: 290.328px;
  width: 40%;
  height: 20%;
  transform-origin: 0% -50%;
  -webkit-transform-origin: 0% -50%;
  -moz-transform-origin: 0% -50%;
  -o-transform-origin: 0% -50%;
  -ms-transform-origin: 0% -50%;
  background: url("../images/name.png") no-repeat left bottom/100% 100%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -moz-animation: showBrand 5s;
  -webkit-animation: showBrand 5s;
  animation: showBrand 5s;
}
@keyframes showBrand {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-10deg) translate(-50%, -50%);
    -ms-transform: rotate(-10deg) translate(-50%, -50%);
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(9deg) translate(-50%, -50%);
    -ms-transform: rotate(9deg) translate(-50%, -50%);
    -webkit-transform: rotate(9deg) translate(-50%, -50%);
    transform: rotate(9deg) translate(-50%, -50%);
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    -moz-transform: rotate(-8deg) translate(-50%, -50%);
    -ms-transform: rotate(-8deg) translate(-50%, -50%);
    -webkit-transform: rotate(-8deg) translate(-50%, -50%);
    transform: rotate(-8deg) translate(-50%, -50%);
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transform: rotate(7deg) translate(-50%, -50%);
    -ms-transform: rotate(7deg) translate(-50%, -50%);
    -webkit-transform: rotate(7deg) translate(-50%, -50%);
    transform: rotate(7deg) translate(-50%, -50%);
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transform: rotate(-6deg) translate(-50%, -50%);
    -ms-transform: rotate(-6deg) translate(-50%, -50%);
    -webkit-transform: rotate(-6deg) translate(-50%, -50%);
    transform: rotate(-6deg) translate(-50%, -50%);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: rotate(5deg) translate(-50%, -50%);
    -ms-transform: rotate(5deg) translate(-50%, -50%);
    -webkit-transform: rotate(5deg) translate(-50%, -50%);
    transform: rotate(5deg) translate(-50%, -50%);
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -moz-transform: rotate(-4deg) translate(-50%, -50%);
    -ms-transform: rotate(-4deg) translate(-50%, -50%);
    -webkit-transform: rotate(-4deg) translate(-50%, -50%);
    transform: rotate(-4deg) translate(-50%, -50%);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transform: rotate(3deg) translate(-50%, -50%);
    -ms-transform: rotate(3deg) translate(-50%, -50%);
    -webkit-transform: rotate(3deg) translate(-50%, -50%);
    transform: rotate(3deg) translate(-50%, -50%);
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: rotate(-2deg) translate(-50%, -50%);
    -ms-transform: rotate(-2deg) translate(-50%, -50%);
    -webkit-transform: rotate(-2deg) translate(-50%, -50%);
    transform: rotate(-2deg) translate(-50%, -50%);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -moz-transform: rotate(1deg) translate(-50%, -50%);
    -ms-transform: rotate(1deg) translate(-50%, -50%);
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
    transform: rotate(1deg) translate(-50%, -50%);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@-webkit-keyframes showBrand {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-10deg) translate(-50%, -50%);
    -ms-transform: rotate(-10deg) translate(-50%, -50%);
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(9deg) translate(-50%, -50%);
    -ms-transform: rotate(9deg) translate(-50%, -50%);
    -webkit-transform: rotate(9deg) translate(-50%, -50%);
    transform: rotate(9deg) translate(-50%, -50%);
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    -moz-transform: rotate(-8deg) translate(-50%, -50%);
    -ms-transform: rotate(-8deg) translate(-50%, -50%);
    -webkit-transform: rotate(-8deg) translate(-50%, -50%);
    transform: rotate(-8deg) translate(-50%, -50%);
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transform: rotate(7deg) translate(-50%, -50%);
    -ms-transform: rotate(7deg) translate(-50%, -50%);
    -webkit-transform: rotate(7deg) translate(-50%, -50%);
    transform: rotate(7deg) translate(-50%, -50%);
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transform: rotate(-6deg) translate(-50%, -50%);
    -ms-transform: rotate(-6deg) translate(-50%, -50%);
    -webkit-transform: rotate(-6deg) translate(-50%, -50%);
    transform: rotate(-6deg) translate(-50%, -50%);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: rotate(5deg) translate(-50%, -50%);
    -ms-transform: rotate(5deg) translate(-50%, -50%);
    -webkit-transform: rotate(5deg) translate(-50%, -50%);
    transform: rotate(5deg) translate(-50%, -50%);
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -moz-transform: rotate(-4deg) translate(-50%, -50%);
    -ms-transform: rotate(-4deg) translate(-50%, -50%);
    -webkit-transform: rotate(-4deg) translate(-50%, -50%);
    transform: rotate(-4deg) translate(-50%, -50%);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transform: rotate(3deg) translate(-50%, -50%);
    -ms-transform: rotate(3deg) translate(-50%, -50%);
    -webkit-transform: rotate(3deg) translate(-50%, -50%);
    transform: rotate(3deg) translate(-50%, -50%);
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: rotate(-2deg) translate(-50%, -50%);
    -ms-transform: rotate(-2deg) translate(-50%, -50%);
    -webkit-transform: rotate(-2deg) translate(-50%, -50%);
    transform: rotate(-2deg) translate(-50%, -50%);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -moz-transform: rotate(1deg) translate(-50%, -50%);
    -ms-transform: rotate(1deg) translate(-50%, -50%);
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
    transform: rotate(1deg) translate(-50%, -50%);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@-moz-keyframes showBrand {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-10deg) translate(-50%, -50%);
    -ms-transform: rotate(-10deg) translate(-50%, -50%);
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(9deg) translate(-50%, -50%);
    -ms-transform: rotate(9deg) translate(-50%, -50%);
    -webkit-transform: rotate(9deg) translate(-50%, -50%);
    transform: rotate(9deg) translate(-50%, -50%);
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    -moz-transform: rotate(-8deg) translate(-50%, -50%);
    -ms-transform: rotate(-8deg) translate(-50%, -50%);
    -webkit-transform: rotate(-8deg) translate(-50%, -50%);
    transform: rotate(-8deg) translate(-50%, -50%);
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transform: rotate(7deg) translate(-50%, -50%);
    -ms-transform: rotate(7deg) translate(-50%, -50%);
    -webkit-transform: rotate(7deg) translate(-50%, -50%);
    transform: rotate(7deg) translate(-50%, -50%);
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transform: rotate(-6deg) translate(-50%, -50%);
    -ms-transform: rotate(-6deg) translate(-50%, -50%);
    -webkit-transform: rotate(-6deg) translate(-50%, -50%);
    transform: rotate(-6deg) translate(-50%, -50%);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: rotate(5deg) translate(-50%, -50%);
    -ms-transform: rotate(5deg) translate(-50%, -50%);
    -webkit-transform: rotate(5deg) translate(-50%, -50%);
    transform: rotate(5deg) translate(-50%, -50%);
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -moz-transform: rotate(-4deg) translate(-50%, -50%);
    -ms-transform: rotate(-4deg) translate(-50%, -50%);
    -webkit-transform: rotate(-4deg) translate(-50%, -50%);
    transform: rotate(-4deg) translate(-50%, -50%);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transform: rotate(3deg) translate(-50%, -50%);
    -ms-transform: rotate(3deg) translate(-50%, -50%);
    -webkit-transform: rotate(3deg) translate(-50%, -50%);
    transform: rotate(3deg) translate(-50%, -50%);
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: rotate(-2deg) translate(-50%, -50%);
    -ms-transform: rotate(-2deg) translate(-50%, -50%);
    -webkit-transform: rotate(-2deg) translate(-50%, -50%);
    transform: rotate(-2deg) translate(-50%, -50%);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -moz-transform: rotate(1deg) translate(-50%, -50%);
    -ms-transform: rotate(1deg) translate(-50%, -50%);
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
    transform: rotate(1deg) translate(-50%, -50%);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@-o-keyframes showBrand {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-10deg) translate(-50%, -50%);
    -ms-transform: rotate(-10deg) translate(-50%, -50%);
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(9deg) translate(-50%, -50%);
    -ms-transform: rotate(9deg) translate(-50%, -50%);
    -webkit-transform: rotate(9deg) translate(-50%, -50%);
    transform: rotate(9deg) translate(-50%, -50%);
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    -moz-transform: rotate(-8deg) translate(-50%, -50%);
    -ms-transform: rotate(-8deg) translate(-50%, -50%);
    -webkit-transform: rotate(-8deg) translate(-50%, -50%);
    transform: rotate(-8deg) translate(-50%, -50%);
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transform: rotate(7deg) translate(-50%, -50%);
    -ms-transform: rotate(7deg) translate(-50%, -50%);
    -webkit-transform: rotate(7deg) translate(-50%, -50%);
    transform: rotate(7deg) translate(-50%, -50%);
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transform: rotate(-6deg) translate(-50%, -50%);
    -ms-transform: rotate(-6deg) translate(-50%, -50%);
    -webkit-transform: rotate(-6deg) translate(-50%, -50%);
    transform: rotate(-6deg) translate(-50%, -50%);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: rotate(5deg) translate(-50%, -50%);
    -ms-transform: rotate(5deg) translate(-50%, -50%);
    -webkit-transform: rotate(5deg) translate(-50%, -50%);
    transform: rotate(5deg) translate(-50%, -50%);
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -moz-transform: rotate(-4deg) translate(-50%, -50%);
    -ms-transform: rotate(-4deg) translate(-50%, -50%);
    -webkit-transform: rotate(-4deg) translate(-50%, -50%);
    transform: rotate(-4deg) translate(-50%, -50%);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transform: rotate(3deg) translate(-50%, -50%);
    -ms-transform: rotate(3deg) translate(-50%, -50%);
    -webkit-transform: rotate(3deg) translate(-50%, -50%);
    transform: rotate(3deg) translate(-50%, -50%);
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: rotate(-2deg) translate(-50%, -50%);
    -ms-transform: rotate(-2deg) translate(-50%, -50%);
    -webkit-transform: rotate(-2deg) translate(-50%, -50%);
    transform: rotate(-2deg) translate(-50%, -50%);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -moz-transform: rotate(1deg) translate(-50%, -50%);
    -ms-transform: rotate(1deg) translate(-50%, -50%);
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
    transform: rotate(1deg) translate(-50%, -50%);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
@-ms-keyframes showBrand {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: rotate(-10deg) translate(-50%, -50%);
    -ms-transform: rotate(-10deg) translate(-50%, -50%);
    -webkit-transform: rotate(-10deg) translate(-50%, -50%);
    transform: rotate(-10deg) translate(-50%, -50%);
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(9deg) translate(-50%, -50%);
    -ms-transform: rotate(9deg) translate(-50%, -50%);
    -webkit-transform: rotate(9deg) translate(-50%, -50%);
    transform: rotate(9deg) translate(-50%, -50%);
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2;
    -moz-transform: rotate(-8deg) translate(-50%, -50%);
    -ms-transform: rotate(-8deg) translate(-50%, -50%);
    -webkit-transform: rotate(-8deg) translate(-50%, -50%);
    transform: rotate(-8deg) translate(-50%, -50%);
  }
  30% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
    -moz-transform: rotate(7deg) translate(-50%, -50%);
    -ms-transform: rotate(7deg) translate(-50%, -50%);
    -webkit-transform: rotate(7deg) translate(-50%, -50%);
    transform: rotate(7deg) translate(-50%, -50%);
  }
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
    -moz-transform: rotate(-6deg) translate(-50%, -50%);
    -ms-transform: rotate(-6deg) translate(-50%, -50%);
    -webkit-transform: rotate(-6deg) translate(-50%, -50%);
    transform: rotate(-6deg) translate(-50%, -50%);
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: rotate(5deg) translate(-50%, -50%);
    -ms-transform: rotate(5deg) translate(-50%, -50%);
    -webkit-transform: rotate(5deg) translate(-50%, -50%);
    transform: rotate(5deg) translate(-50%, -50%);
  }
  60% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    -moz-transform: rotate(-4deg) translate(-50%, -50%);
    -ms-transform: rotate(-4deg) translate(-50%, -50%);
    -webkit-transform: rotate(-4deg) translate(-50%, -50%);
    transform: rotate(-4deg) translate(-50%, -50%);
  }
  70% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-transform: rotate(3deg) translate(-50%, -50%);
    -ms-transform: rotate(3deg) translate(-50%, -50%);
    -webkit-transform: rotate(3deg) translate(-50%, -50%);
    transform: rotate(3deg) translate(-50%, -50%);
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: rotate(-2deg) translate(-50%, -50%);
    -ms-transform: rotate(-2deg) translate(-50%, -50%);
    -webkit-transform: rotate(-2deg) translate(-50%, -50%);
    transform: rotate(-2deg) translate(-50%, -50%);
  }
  90% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    -moz-transform: rotate(1deg) translate(-50%, -50%);
    -ms-transform: rotate(1deg) translate(-50%, -50%);
    -webkit-transform: rotate(1deg) translate(-50%, -50%);
    transform: rotate(1deg) translate(-50%, -50%);
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: rotate(0deg) translate(-50%, -50%);
    -ms-transform: rotate(0deg) translate(-50%, -50%);
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
    transform: rotate(0deg) translate(-50%, -50%);
  }
}
/* line 119, ../sass/screen.scss */
.brand:active {
  -moz-transform: rotateX(-60deg) translate(-50%, -50%);
  -ms-transform: rotateX(-60deg) translate(-50%, -50%);
  -webkit-transform: rotateX(-60deg) translate(-50%, -50%);
  transform: rotateX(-60deg) translate(-50%, -50%);
}

/* logo mixin */
/* line 168, ../sass/screen.scss */
#mongolia {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  -moz-transition: opacity 5s ease-out 4s;
  -o-transition: opacity 5s ease-out 4s;
  -webkit-transition: opacity 5s ease-out;
  -webkit-transition-delay: 4s;
  transition: opacity 5s ease-out 4s;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* line 177, ../sass/screen.scss */
.hide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* loading animation */
/* line 245, ../sass/screen.scss */
.loading {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: #20D4FF;
  -moz-animation: disappear 1s linear 18s forwards;
  -webkit-animation: disappear 1s linear 18s forwards;
  animation: disappear 1s linear 18s forwards;
}
@keyframes disappear {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 100%;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 0;
  }
}
@-webkit-keyframes disappear {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 100%;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 0;
  }
}
@-moz-keyframes disappear {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 100%;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 0;
  }
}
@-o-keyframes disappear {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 100%;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 0;
  }
}
@-ms-keyframes disappear {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 100%;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    height: 0;
  }
}
/* line 261, ../sass/screen.scss */
.loading .before {
  font-size: 5em;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: transparent;
  color: white;
  width: 1em;
  height: 1em;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -moz-transform: rotate(0deg) translate(-50%, -50%);
  -ms-transform: rotate(0deg) translate(-50%, -50%);
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
  transform: rotate(0deg) translate(-50%, -50%);
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-animation: loader 1.5s ease-out 5;
  -webkit-animation: loader 1.5s ease-out 5;
  animation: loader 1.5s ease-out 5;
}
/* line 280, ../sass/screen.scss */
.loading p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 3em;
  font-family: 'Segoe Print';
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation: welcome 10s linear 7.5s;
  -webkit-animation: welcome 10s linear 7.5s;
  animation: welcome 10s linear 7.5s;
}
@keyframes welcome {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-webkit-keyframes welcome {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes welcome {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-o-keyframes welcome {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes welcome {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  10% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    -moz-transform: rotate(30deg) translate(-50%, -50%);
    -ms-transform: rotate(30deg) translate(-50%, -50%);
    -webkit-transform: rotate(30deg) translate(-50%, -50%);
    transform: rotate(30deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  5%,95% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  10%,59% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
  }
  20% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
  }
  38% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
  }
  100% {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
}
@-webkit-keyframes loader {
  0% {
    -moz-transform: rotate(30deg) translate(-50%, -50%);
    -ms-transform: rotate(30deg) translate(-50%, -50%);
    -webkit-transform: rotate(30deg) translate(-50%, -50%);
    transform: rotate(30deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  5%,95% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  10%,59% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
  }
  20% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
  }
  38% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
  }
  100% {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
}
@-moz-keyframes loader {
  0% {
    -moz-transform: rotate(30deg) translate(-50%, -50%);
    -ms-transform: rotate(30deg) translate(-50%, -50%);
    -webkit-transform: rotate(30deg) translate(-50%, -50%);
    transform: rotate(30deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  5%,95% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  10%,59% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
  }
  20% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
  }
  38% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
  }
  100% {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
}
@-o-keyframes loader {
  0% {
    -moz-transform: rotate(30deg) translate(-50%, -50%);
    -ms-transform: rotate(30deg) translate(-50%, -50%);
    -webkit-transform: rotate(30deg) translate(-50%, -50%);
    transform: rotate(30deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  5%,95% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  10%,59% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
  }
  20% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
  }
  38% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
  }
  100% {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
}
@-ms-keyframes loader {
  0% {
    -moz-transform: rotate(30deg) translate(-50%, -50%);
    -ms-transform: rotate(30deg) translate(-50%, -50%);
    -webkit-transform: rotate(30deg) translate(-50%, -50%);
    transform: rotate(30deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  5%,95% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
  10%,59% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.087em -0.825em 0 -0.42em #fff, -0.173em -0.812em 0 -0.44em #fff, -0.256em -0.789em 0 -0.46em #fff, -0.297em -0.775em 0 -0.477em #fff;
  }
  20% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.338em -0.758em 0 -0.42em #fff, -0.555em -0.617em 0 -0.44em #fff, -0.671em -0.488em 0 -0.46em #fff, -0.749em -0.34em 0 -0.477em #fff;
  }
  38% {
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, -0.377em -0.74em 0 -0.42em #fff, -0.645em -0.522em 0 -0.44em #fff, -0.775em -0.297em 0 -0.46em #fff, -0.82em -0.09em 0 -0.477em #fff;
  }
  100% {
    -moz-transform: rotate(360deg) translate(-50%, -50%);
    -ms-transform: rotate(360deg) translate(-50%, -50%);
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
    transform: rotate(360deg) translate(-50%, -50%);
    -moz-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    -webkit-box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
    box-shadow: 0 -0.83em 0 -0.4em #fff, 0 -0.83em 0 -0.42em #fff, 0 -0.83em 0 -0.44em #fff, 0 -0.83em 0 -0.46em #fff, 0 -0.83em 0 -0.477em #fff;
  }
}
/* line 326, ../sass/screen.scss */
.windows {
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMWUzZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg1ZDRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #011e3e), color-stop(100%, #85d4ff));
  background: -moz-linear-gradient(top, #011e3e, #85d4ff);
  background: -webkit-linear-gradient(top, #011e3e, #85d4ff);
  background: linear-gradient(to bottom left, #011e3e, #85d4ff);
}
@keyframes appear {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes appear {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-ms-keyframes appear {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
/* line 337, ../sass/screen.scss */
.windows .menubar {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  background: rgba(0, 5, 10, 0.7);
}
/* line 345, ../sass/screen.scss */
.windows .menubar ul.menu {
  width: 100%;
  height: 100%;
}
/* line 348, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list {
  float: left;
  height: 100%;
  padding: 0 2%;
  position: relative;
}
/* line 354, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list img {
  height: 100%;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
/* line 360, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list img:hover {
  -moz-box-shadow: 0px 0px 13px 2px linen;
  -webkit-box-shadow: 0px 0px 13px 2px linen;
  box-shadow: 0px 0px 13px 2px linen;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
}
/* line 365, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list ul.submenu-start {
  width: 200%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
  background: rgba(250, 250, 250, 0.2);
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  -webkit-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: 0px 0px 2px #ccc inset;
  -webkit-box-shadow: 0px 0px 2px #ccc inset;
  box-shadow: 0px 0px 2px #ccc inset;
}
/* line 378, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list ul.submenu-start li.submenu-start-list {
  text-align: center;
  height: 100px;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.7);
  -moz-transition: background 0.5s ease-out, color 0.5s ease-out;
  -o-transition: background 0.5s ease-out, color 0.5s ease-out;
  -webkit-transition: background 0.5s ease-out, color 0.5s ease-out;
  transition: background 0.5s ease-out, color 0.5s ease-out;
}
/* line 386, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list ul.submenu-start li.submenu-start-list:hover {
  color: white;
  background: rgba(133, 255, 187, 0.4);
}
/* line 394, ../sass/screen.scss */
.windows .menubar ul.menu li.menu-list:last-child {
  float: right;
}
/* line 402, ../sass/screen.scss */
.windows .desktop {
  width: 98%;
  height: 95%;
}
/* line 405, ../sass/screen.scss */
.windows .desktop dl {
  display: inline-block;
  -webkit-writing-mode: horizontal-tb;
  margin: 3.9% 20px;
}
/* line 410, ../sass/screen.scss */
.windows .desktop dl dt {
  text-align: center;
}
/* line 413, ../sass/screen.scss */
.windows .desktop dl dd {
  text-align: center;
}
/* line 417, ../sass/screen.scss */
.windows .desktop dl:hover {
  background: rgba(250, 250, 250, 0.4);
}
@media screen and (min-width: 960px) {
  /* line 425, ../sass/screen.scss */
  .windows .desktop {
    -webkit-writing-mode: vertical-lr;
  }
}
