@import 'compass/css3';

@mixin setScale($width: auto, $height: auto) {
	width: $width;
	height: $height;
}

.frame {
	position: absolute;
	left: 50%;
	top: 50%;
	writing-mode: horizontal-tb;
	-webkit-writing-mode: horizontal-tb;

	@include setScale;
	@include background(#666666);
	@include transform(translate(-50%, -50%));

	.frame-header {
		text-align: right;

		@include setScale(100%);
	}

	.frame-main {

		.mark-name {
			position: absolute;
		    left: 50%;
		    top: 50%;
		    text-align: center;
		    outline: none;
		    border: none;
		    font-family: Microsoft YaHei, sans-serif;
		    font-size: 15px;

		    @include transform(translate(-50%, -50%));
		    @include setScale(200px, 50px);
		    @include border-radius(10px);
		    @include transition(box-shadow 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.5s);
		    @include opacity(0.9);

		    &:focus {
		    	@include box-shadow(0 0 10px #00DCFF);
		    }
		}
	}
}