<div class="music-box">
	<div class="banner" ng-mousedown="moveBox($event)" ng-mouseup="stopBox($event)">
		<img src="../public/images/background.jpg" />
		<div class="timestamps" ng-bind="duration"></div>
		<div class="components">
			<a href="javascript:void(0);" class="minimize" title="最小化">&minus;</a>
			<a href="javascript:void(0);" class="close" title="关闭">&times;</a>
		</div>
	</div>
	<div class="progress"></div>
	<div class="buttons">
		<a href="javascript:void(0);" class="prev"></a>
		<a href="javascript:void(0);" class="play"></a>
		<a href="javascript:void(0);" class="next"></a>
	</div>
	<audio class="audio">
		<source src="../public/music/slience.mp3" type="audio/mp3" />
		<embed src="../public/music/slience.mp3" />
	</audio>
</div>