<link rel="stylesheet" type="text/css" href="../public/stylesheets/components/store.css" />
<div class="main-frame">
	<div class="nav">
		<a href="javascript:void(0);" class="dot"></a>
		<a href="javascript:void(0);" class="dot"></a>
		<a href="javascript:void(0);" class="dot"></a>
	</div>
	<div class="page">

		<div class="battle-horse">
			<img src="../public/images/horse.png" alt="horse" class="horse" />
		</div>

		<div class="battle-addr">
			<img src="../public/images/sword1.png" alt="sword1" class="sword1" />
			<img src="../public/images/sword2.png" alt="sword1" class="sword2" />
			<img src="../public/images/sword3.png" alt="sword1" class="sword3" />
			<img src="../public/images/lance.png" alt="lance" class="lance" />
		</div>
	</div>
	<div class="page">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink">

		</svg>
	</div>
	<div class="page"></div>
</div>